@font-face { font-family: Nasalization; src: url('/fonts/nasalization-rg.otf'); } 

html{
    scroll-behavior: smooth;
    
}
body{
    background-color: rgb(22, 22, 22);
}

h1{
    font-family: Nasalization, sans-serif;
   font-weight: 600;
   margin: 0px;
   color: white;
}

.header{
    height:100vh;
    padding-bottom: 100px;
    align-items: center;
}

.btn{
    background-color: white;
    color: black;
    border-color: rgb(0, 0, 0);
}

.card{
    color: white;
    background-color: rgb(56, 56, 56);
    border-color: rgb(255, 255, 255);
}

.fullCard{
    padding: 50px;
}

.inCard{
    padding-bottom: 20px;
}

.card-img-top{
    height:400px;
}

.exploreBtnDiv{
    text-align: right;
}

.exploreBtn{
    font-family: Nasalization, sans-serif; 
    font-size: 25px;
    text-align: center;
    width: 150px;
    height: 80px;
    border-radius: 80px;
    transform: translate(-50%, -50%);
	background: #333;
	z-index: 10;
	transition: 0.2s;
	color: #fff;
	box-shadow: 0px 1px 5px 2px #ff0000;
}

.exploreBtn:hover{
    background-color:rgb(31, 31, 31);
    border-color: rgb(134, 134, 134);
    color:rgb(134, 134, 134);
    box-shadow: 0px 1px 5px 2px #8a0000;
}

.exploreBtn:active {
	transform: scale(0.9) translate(-55%, -55%);
}

#loading {
    margin: auto;
    visibility: hidden;
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #f24141;
    border-radius: 100%;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.likeBtn{
    width:50px;
    height:50px;
    border-radius: 100%;
}

.animated {
  animation:fade-in 1.5s ease;
}

@keyframes fade-in {
    from {background-color: white;}
    to {background-color: pink;}
}


