html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 32);
}

h1{
   font-family:Helvetica;
   font-weight: 600;
   margin: 0px;
   color: white;
}

.header{
    height:220px;
    align-items: left;
    justify-content: left;
}

.btn{
    background-color: white;
    color: black;
    border-color: black;
}

.card{
    background-color: white;
    
}

.inCard{
    padding-bottom: 20px;
}


